<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="gallery">
        <div class="content">
            <img src='../img/python.png'>
            <img src="https://cataas.com/cat?891">
            <img src="https://cataas.com/cat?146">
            <img src="https://cataas.com/cat?275">
            <img src="https://cataas.com/cat?214">
            <img src="https://cataas.com/cat?657">
            <img src="https://cataas.com/cat?404">
            <img src="https://cataas.com/cat?952">
            <img src="https://cataas.com/cat?992">
            <img src="https://cataas.com/cat?824">
            <img src="https://cataas.com/cat?122">
            <img src="https://cataas.com/cat?235">
            <img src="https://cataas.com/cat?736">
            <img src="https://cataas.com/cat?92">
            <img src="https://cataas.com/cat?462">
            <img src="https://cataas.com/cat?896">
            <img src="https://cataas.com/cat?150">
            <img src="https://cataas.com/cat?185">
            <img src="https://cataas.com/cat?148">
            <img src="https://cataas.com/cat?170">
            <img src="https://cataas.com/cat?810">
            <img src="https://cataas.com/cat?703">
            <img src="https://cataas.com/cat?946">
            <img src="https://cataas.com/cat?398">
            <img src="https://cataas.com/cat?926">
            <img src="https://cataas.com/cat?56">
            <img src="https://cataas.com/cat?875">
        </div>
    </div>
</body>
</html>

